/2.lab/MyHelloProject/nbproject/private/
/2.lab/MyHelloProject/build/
/3.lab/ContactEditor/nbproject/private/
/3.lab/ContactEditor/build/
/3.lab/NumberAddition/nbproject/private/
/3.lab/NumberAddition/build/
/3.lab/NumberAddition/dist/